<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- TEXT 형태라면 -->
    <appender name="CONSOLE_TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 변수 지정 -->
    <springProfile name="dev">
        <property name="LOG_PATH" value="/app/logs" />
    </springProfile>

    <springProfile name="!dev">
        <property name="LOG_PATH" value="./logs" />
    </springProfile>

    <property name="LOG_FILE_NAME" value="api" />

    <!-- 이게 로그 파일 남기는 로직 -->
    <appender name="FILE_RAW_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_RAW_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- DEV 서버에서 TEXT랑 JSON 둘 다 -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE_RAW_JSON" />
            <appender-ref ref="FILE_RAW_JSON" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE_TEXT" />
            <appender-ref ref="FILE_RAW_JSON" />
        </root>
    </springProfile>

    <!-- local 서버에서 TEXT만 -->
    <springProfile name="!dev &amp; !prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE_TEXT" />
        </root>
    </springProfile>

</configuration>